global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "{{check_script}}"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state {{state}}
    interface {{interface}}
    virtual_router_id {{virtual_router_id}}
    priority {{priority}}
    authentication {
        auth_type PASS
        auth_pass {{authentication_password}}
    }
    virtual_ipaddress {
        {{kubernetes_vip}}/24 dev {{ vrrp_nic }}
    }
    track_script {
        check_apiserver
    }
    unicast_src_ip {{ unicast_src_ip }}
    unicast_peer {
{% for peer in unicast_peers %}
        {{ peer }}
{% endfor %}
    }
}